<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  {{>header}}

  <section>
    <div class="main-content">
      <h1>Welcome to the DBaas!</h1>
      <p>The DBaaS is a web-based tool that allows you to monitor the state of your clusters in real-time. It provides you with detailed information about the status of each pod within your clusters, helping you ensure the availability and health of your applications.</p>

      <div class="features">
        <div class="feature-item">
          <p>Real-time Monitoring: Get instant updates on the status of your clusters and pods.</p>
        </div>

        <div class="feature-item">
          <p>Scale on Demand: Easily scale your clusters to meet the demands of your applications.</p>
        </div>

        <div class="feature-item">
          <p>Cluster Management: Delete or add new clusters with just a few clicks.</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
